In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import numpy as np
import pandas as pd


data=pd.read_csv("/content/drive/MyDrive/Dataset/result.csv", encoding='utf-8-sig')
data.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

   No.      Time  Source  Destination  ...  DAO  DIS  DIO  Label
0    1  0.000000       2         9999  ...    0   38    0      0
1    2  0.003289       2         9999  ...    0   38    0      0
2    3  0.006556       2         9999  ...    0   38    0      0
3    4  0.009841       2         9999  ...    0   38    0      0
4    5  0.013110       2         9999  ...    0   38    0      0

[5 rows x 19 columns]

In [ ]:
from collections import Counter
from sklearn.datasets import make_classification
from imblearn.under_sampling import NearMiss
from matplotlib import pyplot
from numpy import where

data = data.drop( ['No.','Source', 'Destination', 'Time','Length', 'Sources Count Per Sec', 'Destinations Count Per Sec'],axis = 1)

X_test = data.iloc[:, :-1]
y_test= data.iloc[: , -1]
print(X_test.head())
print(y_test.head())

   Info  Transmission Rate (per 1000 ms)  ...  DIS  DIO
0     2                            0.038  ...   38    0
1     2                            0.038  ...   38    0
2     2                            0.038  ...   38    0
3     2                            0.038  ...   38    0
4     2                            0.038  ...   38    0

[5 rows x 11 columns]
0    0
1    0
2    0
3    0
4    0
Name: Label, dtype: int64

/usr/local/lib/python3.7/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [ ]:
from sklearn.externals import joblib
knn= joblib.load('/content/drive/MyDrive/Dataset/KNN_5.pkl')

/usr/local/lib/python3.7/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
print(knn.score(X_test,y_test))

0.976552106918516

In [ ]:
predictions= knn.predict(X_test)
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[  3040,      0,   1600],
       [     0, 203140,     78],
       [  3645,      0,  15511]])